/* @import "./Header.css"; */
/* @import "./AddNewTrip.css"; */

.App {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  justify-content: center;
  align-items: center;
}

.split-it-App {
  width: 320px;
  height: 100vh;
  background-color: #363b46;
  color: #fff;
  border: 4px solid #535b6b;
}

.header {
  background-color: #fff;
  text-align: center;
}

.new-trip-button {
  background-color: #61dafb;
  color: #363b46;
  font-size: 25px;
  font-weight: 500;
  width: calc(100% - 30px);
  height: 50px;
  margin: 15px;
  border: 2px solid #8d97a5;
  border-radius: 4px;
  cursor: pointer;
}


.new-trip-modal {
  width: 320px;
  height: 100vh;
  background-color: antiquewhite;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) !important;  
}


